.border-radius-2 {
  border-radius: 2px;
}
.border-radius-4 {
  border-radius: 4px;
}
.border-radius-6 {
  border-radius: 6px;
}
.border-radius-8 {
  border-radius: 8px;
}
.border-radius-10 {
  border-radius: 10px;
}

.round-top-4 {
  border-radius: 4px 4px 0 0;
}
.round-bottom-4 {
  border-radius: 0 0 4px 4px;
}
