// margin
.margin-left-10{
  margin-left: 10rpx;
}
.margin-left-20{
  margin-left: 20rpx;
}
.margin-left-30{
  margin-left: 30rpx;
}
.margin-left-40{
  margin-left: 40rpx;
}
.margin-left-50{
  margin-left: 50rpx;
}


.margin-right-10{
  margin-right: 10rpx;
}
.margin-right-20{
  margin-right: 20rpx;
}
.margin-right-30{
  margin-right: 30rpx;
}
.margin-right-40{
  margin-right: 40rpx;
}
.margin-right-50{
  margin-right: 50rpx;
}

.margin-top-10{
  margin-top: 10rpx;
}
.margin-top-20{
  margin-top: 20rpx;
}
.margin-top-30{
  margin-top: 30rpx;
}
.margin-top-40{
  margin-top: 40rpx;
}
.margin-top-50{
  margin-top: 50rpx;
}

.margin-bottom-10{
  margin-bottom: 10rpx;
}
.margin-bottom-20{
  margin-bottom: 20rpx;
}
.margin-bottom-30{
  margin-bottom: 30rpx;
}
.margin-bottom-40{
  margin-bottom: 40rpx;
}
.margin-bottom-50{
  margin-bottom: 50rpx;
}

.margin-10{
  margin: 10rpx;
}
.margin-20{
  margin: 20rpx;
}
.margin-30{
  margin: 30rpx;
}
.margin-40{
  margin: 40rpx;
}
.margin-50{
  margin: 50rpx;
}